body{
    background-color: rgb(255, 194, 219);
    font-family: 'Courier New', Courier, monospace;
    color: rgb(90, 3, 86);
}
button{
    background-color: rgb(205, 205, 250);
    border-radius: 25px;
    border-color:aliceblue;
}
label{
    font-size: 20px;
}
 #grid {
    display: grid;
    margin: 20px auto;
    width: fit-content;
 }

 .cell {
    .width: 25px;
    height: 25px;
    border: 1px solid #524949;
 }

 .start {
    background: red;
 }

 .goal {
    background: black;
 }
.visited {
    background : lightblue;
}

.path {
    background:yellow;
}
.controls{
    margin: 10px;
}
.wall{
    background-color: rgb(57, 48, 177);
}